<% login_notice = t('login.notice', default: '') %>
<div class="container">

  <div class="row" style="margin-top:10%;">

    <div class="col-md-8 col-md-offset-2">
      <% unless login_notice.blank? %>
          <%= login_notice %>
      <% end %>
      <%= render 'messages' %>
    </div>

    <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <div class="form">
        <%= form_tag(login_path, method: :post, id: 'login-form') do %>
            <%= hidden_field_tag :lt, @login_ticket.ticket %>
            <%= hidden_field_tag :service, params[:service] unless params[:service].nil? %>
            <fieldset>
              <h2 class="logo-header"> <%= image_tag "logo.png" %></h2>
              <hr class="colorgraph">

              <div class="form-group">
                <%= text_field_tag :username, params[:username], autofocus: true, :class => 'form-control input-lg', :placeholder => 'Member Id / Username / Email Address' %>
              </div>
              <div class="form-group">
                <%= hidden_field_tag :password, params[:password], class: 'form-control input-lg', placeholder: 'Password' %>
              </div>
				<span class="button-checkbox">
				  <%= label_tag :rememberMe do %>
                     <%= check_box_tag :rememberMe, 1, params[:rememberMe] %> <%= t('login.label_remember_me') %>
                  <% end %>
                </span>
              <hr class="colorgraph">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
                  <%= button_tag t('login.label_button'), :class => 'btn btn-lg btn-success btn-block' %>
                </div>
              </div>
            </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>
