<%= javascript_include_tag "#{Acceptto::Client.faye_server_address}/faye.js", "data-turbolinks-track" => false %>
<div class="row" style="margin-top:100px;">
  <div class="second_factor col-md-8 col-md-offset-2">
    <div class="panel panel-default">
	  <div class="panel-heading">Validate MFA</div>
      <div class="panel-body" style="height:200px;padding:30px;">
        <div class="flash notice alert alert-warning" id="flash_notice"></div>
        <script type="text/javascript">
            $(function () {
                var faye = new Faye.Client("<%= Acceptto::Client.faye_server_address %>");
                faye.subscribe("/messages/<%= channel %>", function (data) {
                    window.location.replace("<%= mfa_check_path %>?channel=<%= channel %>&tgt=<%= @ticket_granting_ticket || params[:tgt] %>&service=<%= params[:service] %>");
                });

                var now = new Date();

                var target_date = new Date(now.getTime() + 60000);

                // variables for time units
                var days, hours, minutes, seconds;

                // get tag element
                var countdown = document.getElementById("flash_notice");
                var notice_text = '<%= t("acceptto_mfa_authenticator.mfa_you_have_60") %>'

                // update the tag with id "countdown" every 1 second
                setInterval(function () {

                    // find the amount of "seconds" between now and target
                    var current_date = new Date().getTime();
                    var seconds_left = (target_date - current_date) / 1000;

                    // do some time calculations
                    days = parseInt(seconds_left / 86400);
                    seconds_left = seconds_left % 86400;

                    hours = parseInt(seconds_left / 3600);
                    seconds_left = seconds_left % 3600;

                    minutes = parseInt(seconds_left / 60);
                    seconds = parseInt(seconds_left % 60);

                    if (seconds == 0) {
                        window.location.replace("<%= mfa_check_path %>?channel=<%= channel %>&tgt=<%= @ticket_granting_ticket || params[:tgt] %>&service=<%= params[:service] %>");
                    }

                    if (seconds <= 0) {
                        seconds = 0;
                    }

                    // format countdown string + set tag value
                    countdown.innerHTML = notice_text + " : " + seconds + "s";

                }, 1000);

            });
        </script>
      </div>
    </div>
  </div>
</div>
